:root {
    color-scheme: dark;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

::selection {
    background-color: var(--color-peach-light);
    color: var(--color-blue);
}

*:focus-visible {
    outline-color: var(--focus-outline-color);
    outline-offset: var(--focus-outline-offset);
    outline-style: var(--focus-outline-style);
    outline-width: var(--focus-outline-width);
}

@view-transition {
    navigation: auto;
}

body {
    font-family: var(--font-text);
    font-size: var(--text-normal);
    font-weight: 300;
    line-height: 1.5;
    background-color: var(--color-blue-dark);
    overflow-x: hidden;

    color: var(--color-text);

    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

h1 {
    font-size: var(--text-xl);
    font-family: var(--font-headline);
    line-height: 1.1;
    font-weight: 900;
    letter-spacing: -0.025em;
    color: var(--color-peach-medium);

    margin-bottom: 1em;

    &::selection,
    ::selection {
        background-color: var(--color-blue);
        color: currentColor;
    }
}

h2 {
    font-size: var(--text-lg);
    font-family: var(--font-headline);
    color: var(--color-peach-medium);
    line-height: 1.15;
    font-weight: 900;
    margin-bottom: .25em;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    margin-top: 2em;
    vertical-align: baseline;

    &:first-of-type {
        margin-top: 0;
    }

    :where(&) + & {
        margin-top: 1rem;
    }

    .anchor-link {
        display: inline-block;
        vertical-align: baseline;
        text-decoration: none;

        &::before {
            display: inline-block;
            margin-left: -1.25em;
            margin-right: 0.5em;
            content: '#';
            font-size: 0.675em;
            color: var(--color-peach-light);
            opacity: .4;
            text-decoration: none;
            transition: opacity .4s;
        }

        &:hover,
        &:focus-visible {
            &::before {
                opacity: 1;
            }
        }
    }
}

a {
    border-radius: var(--rounding);
}
em {
    font-style: normal;
    color: var(--color-peach-light)
}

iframe, video {
    --focus-outline-color: var(--color-peach);
    --focus-outline-offset: 4px;

    box-shadow: var(--shadow);
    border-radius: var(--rounding);
}

p:not(:last-child),
ul:not(:last-child) {
    margin-bottom: 1.5em;
}

main a {
    text-decoration: underline;
    text-decoration-color: var(--color-peach-light);
    text-underline-offset: 0.15em;
    transition: color .4s;

    &:hover,
    &:focus-visible {
        color: var(--color-peach-light);
    }
}
