:root {
    --font-headline: 'Satoshi', sans-serif;
    --font-text: 'Outfit', sans-serif;

    --rem: 1.1rem;
    --text-xs: 0.9rem;
    --text-sm: 1.0rem;
    --text-normal: 1.1rem;
    --text-lg: 1.75rem;
    --text-xl: 2rem;

    --color-text: rgba(255, 255, 255, 0.9);
    --color-blue-dark: oklch(0.2 0.02 232.31 / 1);
    --color-blue: rgba(25.021, 56.75, 72.545);
    --color-slate: rgba(84.457, 102.54, 117.48);
    --color-grey: rgba(122, 122, 131.84);

    --color-peach-lightest: rgba(239.99, 189.01, 157.6);
    --color-peach-light: rgba(252.8, 162.96, 110.94);
    --color-peach-medium: oklch(80% 0.15 50);

    --color-peach: rgba(245.16, 116.75, 28.868);
    --color-peach-bg: rgba(from var(--color-peach) r g b / .1);

    --color-github-sponsors: rgba(219.02, 96.736, 162.41);

    --spacing-section: 4rem;

    --spacing-x: 1.5em;
    --spacing-y: 1.5rem;
    --rounding: 3px;

    --shadow-color: var(--color-peach-light);
    --shadow: .2em .2em 0 var(--shadow-color);
    --shadow-hover: .4em .4em 0 var(--shadow-color);

    --content-width: 80rem;
    --max-text-width: 60ch;

    --focus-outline-color: currentColor;
    --focus-outline-offset: 0.2rem;
    --focus-outline-style: solid;
    --focus-outline-width: 2px;


    @media (min-width: 30rem) {
        --text-xs: 1rem;
        --text-sm: 1.1rem;
        --text-normal: 1.25rem;
        --text-lg: 2.2rem;
        --text-xl: 2.6rem;
    }

    @media (min-width: 47.5rem) {
        --spacing-section: 6rem;
    }

    @media (min-width: 75rem) {
        --spacing-section: 8rem;
    }
}
