.articles {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-y);

    .articles__intro {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        gap: var(--spacing-y);

        .button {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(var(--spacing-x) / 2);

            svg {
                display: inline-block;
            }
        }
    }

    .articles__list {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-y) * 2);
    }

    .article {
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing-y) * 0.25) var(--spacing-x);
        max-width: var(--max-text-width);

        text-decoration: none;

        .article__meta {
            display: flex;
            flex-wrap: wrap;
            font-size: var(--text-sm);
            gap: calc(var(--spacing-x) * 0.5) var(--spacing-x);
            opacity: .8;

            & > div {
                display: flex;
                align-items: center;
                gap: calc(var(--spacing-x) / 4);

                svg {
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }
}

.article-page .article {
    max-width: var(--max-text-width);
    margin: 0 auto;

    time {
        transform: translateY(-0.5rem);
        margin-bottom: 0.5rem;
    }

    .article__header {
        margin-bottom: calc(var(--spacing-y) * 1.5);

        h1 {
            margin-bottom: 0.25em;
        }
    }

    .article__meta {
        display: flex;
        flex-wrap: wrap;
        font-size: var(--text-sm);
        gap: calc(var(--spacing-x) * 0.5) var(--spacing-x);
        opacity: .8;

        & > div {
            display: flex;
            align-items: center;
            gap: calc(var(--spacing-x) / 4);

            svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}

.phiki {
    --focus-outline-color: var(--color-peach-light);
    --focus-outline-offset: 0.25rem;
    font-size: var(--text-xs);
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-inline: var(--spacing-x);
    padding-block: var(--spacing-y);
    border-radius: var(--rounding);
    overflow-x: auto;

    margin-bottom: var(--spacing-y);
}
