.footer {
    margin-top: auto;
    color: white;
    background-color: var(--color-blue-dark);

    @media (width > 30rem) {
        .footer__inner {
            display: flex;
            align-items: start;
            justify-content: space-between;
        }
    }

    a {
        text-decoration: none;
        transition: color .4s;

        &:hover,
        &:focus-visible {
            color: var(--color-peach);
        }
    }

    .social-icons {
        margin-bottom: var(--spacing-y);

        @media (width > 30rem) {
            justify-content: start;
        }
    }
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-x);
    font-size: var(--text-sm);

    @media (width > 30rem) {
        flex: 1 0 auto;
        flex-direction: column;
        gap: calc(var(--spacing-y) * .5);
    }
}
