.footer {
    color: white;
    background-color: var(--color-blue-dark);

    a {
        text-decoration: none;
        transition: color .4s;

        &:hover {
            color: var(--color-peach);
        }
    }
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-x);
    font-size: var(--text-sm);

    @media (width > 40rem) {
        gap: calc(var(--spacing-x) * 2);
    }
}
