.container {
    container-type: inline-size;
}

.wrapper {
    width: 100%;
    margin-inline: auto;
    padding-inline: 0.75rem;
    max-width: var(--content-width);

    @media (min-width: 30rem) {
        padding-inline: 1.5rem;
    }
}

.full-bleed {
    position: relative;
    width: 100vw;
    margin-left: calc(50% - 50vw)
}

.section {
    padding-block: var(--spacing-section);

    & + & {
        padding-top: 0;
    }
}

.intro {
    p {
        text-wrap: pretty;
        margin-bottom: 0;
    }

    &:has(.button) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: var(--spacing-y);

        @media (width > 60rem) {
            flex-direction: row;
        }
    }
}
