.rte {
    img {
        width: auto;
        margin-inline: auto;
        max-width: 100%;
    }

    code {
        font-size: .8em;
        padding: 0.1em 0.25em;
        background: rgba(255 255 255 / .15);
        border-radius: var(--rounding);
    }
}
